<!DOCTYPE html>
<html lang="de">
  <head>
    {% include meta.html %}
    <title>{{title}}</title>
    <script defer src="/js/main.js"></script>
    <link rel="icon" type="image/png" href="/img/favicon.png" />
    <link rel="stylesheet" href="/css/pages/placeholder.css" />
  </head>
  <body>
    {% include navigation.html %}
    <main class="placeholder">
      <div class="placeholder-container">
        <h1>Hier ist leider nichts.</h1>
        <p>Kommen Sie gerne später wieder.</p>
        <p>(Nicht Teil der Aufgabenstellung)</p>
      </div>
    </main>
    {% include footer.html %}
  </body>
</html>