<footer class="footer">
  <div class="footer-item">
    <h3>Anschrift</h3>
    <span>
      Conifere GmbH<br />
      Colmarer Str. 5<br />
      79106 Freiburg im Breisgau
    </span>
  </div>
  <div class="footer-item">
    <h3>Kontakt</h3>
    <span>
      <a href="mailto:info@conifere.de">info@conifere.de</a>
      05181 8535-0<br />
      0171 9939773
    </span>
  </div>
  <div class="footer-item">
    <h3>Öffnungszeiten</h3>
    <span>Montag bis Freitag, 10:00 – 18:00</span>
    <div class="footer-item-state"></div>
  </div>
  <div class="footer-item">
    <h3>Rechtliches</h3>
    <span>© 2021 Conifere. Alle Rechte vorbehalten.</span>
    <a href="/meta/datenschutz/">Datenschutz</a>
    <a href="/meta/impressum/">Impressum</a>
  </div>
</footer>
