<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<meta name="title" content="{{title}}" />
{% if description %}
<meta name="description" content="{{description}}" />
{% endif %}
<meta property="og:type" content="website" />
<meta property="og:url" content="https://conifere.de/" />
<meta property="og:title" content="{{title}}" />
{% if description %}
<meta property="og:description" content="{{description}}" />
{% endif %}

<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content="https://conifere.de/" />
<meta property="twitter:title" content="{{title}}" />
{% if description %}
<meta property="twitter:description" content="{{description}}" />
{% endif %}