<nav class="navigation">
  <a class="navigation-logo" href="/">
    <img src="/img/logo-conifere.svg" alt="Logo von Conifere" />
  </a>
  <div class="navigation-menu">
    <a class="navigation-menu-item" href="/">
      <img src="/img/home.svg" alt="" />
      <span>Home</span>
    </a>
    <a class="navigation-menu-item" href="/uberuns/">Über uns</a>
    <a class="navigation-menu-item" href="/werkstatt/">Werkstatt</a>
    <a class="navigation-menu-item" href="/showroom/">Showroom</a>
    <a class="navigation-menu-item" href="/partner/">Partner</a>
  </div>
</nav>
