<nav class="navigation">
  <a class="navigation-logo" href="/">
    <img src="/img/logo-conifere.svg" alt="Logo von Conifere" />
  </a>
  <div class="navigation-menu">
    <a class="navigation-menu-item" href="/">
      <img src="/img/home.svg" alt="" />
      <span>Home</span>
    </a>
    <a class="navigation-menu-item" href="/uberuns/index.html">Über uns</a>
    <a class="navigation-menu-item" href="/werkstatt/index.html">Werkstatt</a>
    <a class="navigation-menu-item" href="/showroom/index.html">Showroom</a>
    <a class="navigation-menu-item" href="/partner/index.html">Partner</a>
  </div>
</nav>
