@font-face {
  font-family: 'Bebas Neue';
  src: url('./fonts/BebasNeue-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Overpass';
  src: url('./fonts/Overpass-Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Overpass';
  src: url('./fonts/Overpass-Regular.ttf') format('truetype');
  font-weight: 400;
}

* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 375ms ease;
  vertical-align: baseline;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
  background-color: #f0f0f0;
  color: #000;
}

body {
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: 'Overpass', sans-serif;
  font-weight: 300;
  overscroll-behavior: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 0.166rem;
  line-height: 1;
  font-weight: 400;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

p {
  font-size: 1.5rem;
  line-height: 2.25rem;
  font-weight: 300;
}

a {
  color: inherit;
  text-decoration: none;
}

b {
  font-weight: inherit;
  color: #ffffffaa;
}

a,
span {
  display: inline-block;
}

img {
  position: relative;
  object-fit: cover;
  image-rendering: optimizeQuality;
  user-select: none;
}

button {
  background-color: unset;
}
